<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acteurs</title>
</head>
<body>
    <table>
        <tr>
            <th>nom</th>
            <th>prenom</th>
            <th>titre</th>
            
        </tr>
        
        <% for(let i = 0; i<acteurs.rows.length; i++){%>
        <tr>
            <td><%= acteurs.rows[i].nom%></td>
            <td><%= acteurs.rows[i].prenom%></td>
            <td><%= acteurs.rows[i].titre%></td>
        </tr>
            <%}%>   
        
    </table>
</body>
</html>