<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouveaufilm</title>
</head>
<body>
    <form method="post" name="Formulaire" action="/Done">
        <label for="id">ID </label>
        <input type="number" name="id">
        <br>
        <label for="titre">Titre </label>
        <input type="text" name="titre">
        <br>
        <label for="realisateur">Réalisateur </label>
        <input type="text" name="realisateur">
        <br>
        <label for="date">Date </label>
        <input type="date" name="date">
        <br>
        <label for="note">Note(1-5) </label>
        <input name="note" value="number">
        <br>
        <label for="description">Description </label>
        <input name="description" type="text">
        <br>
        <%for(let i = 0;i<)
        <input name="acteur" type="checkbox">
        <input type="submit" value="Submit">
    </form>
</body>
</html>